<ion-header>
  <ion-toolbar color="primary">
    <app-header [pageTitle]="pageTitle"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="kanban">
  <div class="kanban-container">
    <div *ngFor="let column of columns" class="kanban-column" (drop)="onDrop($event, column)"
      (dragover)="$event.preventDefault()">
      <h3>{{ column.title }}</h3>

      <!-- Список задач в колонке -->
      <ion-card *ngFor="let task of column.tasks" class="kanban-task" draggable="true"
        (dragstart)="onDragStart($event, task)" (dblclick)="editTask(task)">

        <ion-card-content>
          <!-- Условие для показа input или текста -->
          <div *ngIf="!task.isEditing" class="task-text">
            {{ task.text }}
          </div>

          <ion-item *ngIf="task.isEditing" class="edit-item">
            <ion-input [(ngModel)]="task.text" 
                      (blur)="stopEditing(task)" 
                      (keyup.enter)="stopEditing(task)"
                      type="text">
            </ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
      <ion-button expand="block" fill="outline" (click)="addTask(column)" class="add-task-btn">
        Добавить задачу
      </ion-button>
    </div>
  </div>
</ion-content>